{% extends "base.html" %}

{% block app_content %}
    <div class="page-header">
      <h2>Models</h2>
    </div>
    <table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Major Version</th>
            <th>Minor Version</th>
            <th>Metadata</th>
            <th>Predict</th>
        <tr>
    </thead>
    <tbody>
        {% for model in models %}
        <tr>
            <td>{{ model.display_name }}</td>
            <td>{{ model.description }}</td>
            <td>{{ model.major_version }}</td>
            <td>{{ model.minor_version }}</td>
            <td><a href="/models/{{ model.qualified_name }}/metadata"><button type="button" class="btn btn-default">Metadata</button></a></td>
            <td><a href="/models/{{ model.qualified_name }}/predict"><button type="button" class="btn btn-default">Predict</button></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}