{% extends "base.html" %}

{% block app_content %}
    <div class="page-header">
      <h2>{{ model_metadata.display_name }} </h2>
    </div>
    <head>
        <link rel="stylesheet" href="../../static/brutusin-json-forms.css">
        <script src="../../static/jquery-1.12.1.min.js"></script>
        <script src="../../static/brutusin-json-forms.min.js"></script>
        <script>
        var bf = null
        // loading the input schema of the model at page startup
        $(document).ready(function() {
            $.ajax({
                url: '/api/models/{{ model_metadata.qualified_name }}/metadata',
                success: function(data) {
                    var container = document.getElementById('prediction_form');
                    var BrutusinForms = brutusin["json-forms"];
                    bf = BrutusinForms.create(data.input_schema);
                    bf.render(container);
                },
                error: function (request, exception) {
                    $('#form_container').html('<center>Could not retrieve input schema.</center>');
                }
            });
        });

        function predict() {
            $.ajax({
                type: "POST",
                url: '/api/models/{{ model_metadata.qualified_name }}/predict',
                data: JSON.stringify(bf.getData()),
                contentType: 'application/json',
                dataType: 'json',
                processData: false,
                success: function(data) {
                    var html = '<hr><h3>Prediction</h3><table class="table">';
                    const keys = Object.keys(data)
                    for (const key of keys) {
                        html += '<tr><td>' + key + '</td><td>' + data[key] + '</td></tr>';
                    }
                    html += '</table>'
                    $('#prediction').html(html);
                },
                error: function (request, exception) {
                    console.log(request);
                    if(request.status == 500 || request.status ) {
                        $('#prediction').html('<hr><h3>Output</h3><center>' + request.responseJSON["message"] + '</center>');
                    }

                }
            });
        }
        </script>
    </head>
    <body>
    <h3>Input</h3>
    <hr>
    <div id="form_container">
        <div id="prediction_form"> </div>
        <div class="panel-footer">
            <button class="btn btn-primary" onclick="predict()">Predict</button>
        </div>
    </div>
    <div id="prediction">
    </div>
    </body>
    </html>
{% endblock %}